*{
	padding: 0;
	margin: 0;
}


html, body{
	font-size: 100%;
	font-family: "Helvetica", linear, sans-serif;
	margin: auto;
	max-width: 1024px;
}

body{
	border: 1px solid #000;
}

header{
	background-image: url('../images/sfondo.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

header h1{
	padding: 0.5em;
	font-size: 4em;
	text-align: center;
	color: rgb(255, 253, 253);
}

#breadcrumb{
	display: flex;
	font-size: 1.1em;
	padding: 0.5em 0.5em 0.5em 1em;
	border: 4.5px solid #0000ff;
	justify-content: space-between;
}

#breadcrumb a:link{
	color: #0000ff; /* con fff rapporto 8.59:1*/
}

#breadcrumb a:visited{
	color: #800080; /* con fff rapporto 9.42:1*/
}

#menu{	
	background-color: #a2ffff;
	color: #000; /*con a2ffff rapporto 18.28:1*/
	text-align: center;
}

#menu li{
	display: inline-block;
	padding: 0.7em;
	font-size: 1.5em;
	font-weight: bold;
}

#menu a:link{
	color: #0000ff; /*con a2ffff rapporto 7.48: 1*/
}

#menu a:visited{
	color: #800080 /*con a2ffff rapporto 8.20:1*/
}

/* GENERAL CONTENT */
.content{
	clear: both;
	font-size: 1.1em;
	margin: 0.5em;
	padding: 0.5em;
}

.content > h2{
	clear: both;
	text-align: center;
	font-size: 1.7em;
	padding-bottom: 0.3em;
}

.content a:link{
	color: #0000ff; /* con fff rapporto 8.59:1*/
}

.content a:visited{
	color: #800080; /*con fff rapporto 9.42:1*/
}

.titolo{
	clear: both;
	text-align: center;
	font-size: 1.8em;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.2em;	
}


/* HOME */
#novita{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

#offerte, #news{
	border:  2px solid  #336ef0;
	box-shadow: 5px 8px #6693f5;
	max-width: 450px;
	min-width: 250px;	
	margin: 1em 1em 0.5em 1em;
	padding: 0.5em;
	text-align: center;
}

#offerte h2, #news h2{
	color: #e60000; /*con fff rapporto 4.81:1*/
	padding-top: 0.3em;
}

#offerte li, #news li{
	list-style-type: none;
	padding: 0.5em;
	font-size: 1.2em;
}

#presentazione p, #curiosita p{
	padding: 0.5em;
} 

#presentazione #imgHome{
	float: right;
	padding: 1em;
	width: 45%;
 	vertical-align: middle; 
}

#strada dt{
	font-size: 1.3em;
	padding: 0.2em 1em 0.0em 1em;
	list-style-type: square;
	color: #005ab5; /* con fff rapporto 6.7:1*/
}

#strada dd{
	font-size: 1em;
	padding-left: 2.5em;
	padding-bottom: 0.6em;
}

#curiosita #imgCristallo{
	float: left;
	width: 50%;
	margin: 1em;
}


/* TARIFFE */ 
#assicurazione{
	padding-bottom: 0.8em;
	font-size: 1.1em;
}

#abbonamenti ul, #skipass ul{
	margin-left:40px;
	list-style-type: disc;
}

#abbonamenti ul li, #skipass ul li{
	padding: 0.3em;
}

#listino{
	table-layout: auto;
	width: 575px;
	margin: auto;
	text-align: center;
	padding: 0.5em 0.0em 1em 0.0em;
	border-spacing: 20px;
	border-collapse:collapse;
}

#listino caption{
	font-weight: bold;
	font-size: 1.5em;
	padding:0.5em;
}

#listino th,td{
	border: medium solid #336ef0;
	padding: 0.5em;	
}

#listino thead, .table-header{
	background-color: #6693f5;
}

#listino #double-row {
	background-color: #fff;
}

#listino th,td{
	border: 3px solid #000;
	padding: 0.5em;	
}

/* MAPPA */
#imgMappa{
	display: block;
	margin: 0.5em auto;
	width: 90%;
}

#mappa-pdf{
	margin-left: 2em;
}

#legenda {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 2em 0;
	font-size: 1.1em;
}

#inner-box-left {
	width: 40%;
	margin-right: 0.5em;
}	

.slope-table, .black-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
	border: 2px solid;
}

.slope-table caption, .black-table caption {
	font-size: 1.4em;
	color: white;
	border: 2px solid;
}

.slope-table th, .slope-table td, .black-table th, .black-table td {
	border: 2px solid;
	padding: 0.4em 0.5em;
}

#blue-table, #blue-table th, #blue-table td {
	border-color: #005ab5;
}

#blue-table caption {
	background-color: #005ab5; /* con testo #fff rapporto 6.7:1*/
	border-color: #005ab5;
}

#red-table, #red-table th, #red-table td {
	border-color: #dc3220;
}

#red-table caption {
	background-color: #dc3220; /* con testo #fff rapporto 4.64:1*/
	border-color: #dc3220;
}

.black-table, .black-table th, .black-table td {
	border-color: #000;
}

.black-table caption {
	background-color: #000; /* con testo #fff rapporto 21:1*/
	border-color: #000;
}

.icone{
	text-align: center;
}

#posizione-parcheggi{
	padding: 0.2em;
}

/*SERVIZI,  EVENTI*/
.box{
	float: left;
	border:  2px solid  #336ef0;
	box-shadow: 5px 8px #6693f5;
	padding: 1em;
	margin: 0.7em;
}

.box h2{
	font-size: 2em;
	text-align: center;
}

.box h3 {
	font-size: 1.3em;
	padding: 0.5em 0em 0.3em 0em;
}

.box p{
	padding: 0.1em;
	font-size:1.1em;
}

.box dl{
	margin: 1em;
}

.box dt{
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 0.8em;
	text-align: left;
}

.box dd{
	padding-left: 2em;
} 

.img_eventi{
	max-width: 100%;
	max-height: 100%;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 0.5em;
}

/* SERVIZI */ 
#noleggio p, #scuola p{
	padding: 0.2em;
	font-size:1.1em;
}

#noleggio #imgNoleggio{
	float: right;
	width: 50%;
	margin: 1em;
}

#scuola #imgMaestri{
	float: left;
	width: 50%;
	margin: 1em;
}


/* FOOTER */
footer{
	clear: both;
	border-top: 1px solid #000;
	text-align: left;
	padding: 0.5em;
	background-image: url('../images/sfondo.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

footer #address{
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

footer .author{
	font-style: italic;
	font-size: 1em;
}

footer .imgValidCode{
	width: 8%;
	padding: 0.3em;
	background-color: #000;
}

/*hamburger testing*/

*{
	box-sizing: border-box;
}
.hamburger {
	display: none;
}
.hamburger:before {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	content: "\00a0\2261\00a0";
	font-family: sans-serif;
	font-size: 1.5em;
}
.menu-toggle {
	display: none;
}


/* LOGIN TEST */

.login, #loginBox{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

#loginBox{
	width: 280px;
  	border:  2px solid  #336ef0;
	box-shadow: 5px 8px #6693f5;
	margin: 0.7em;
}

#loginBox ul{
	color: red;
	padding-bottom: 1em;
}

#loggedSuccessful h2{
	padding: 1em;
}

#loginAndRegister{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
}

#LUsername, #LPassword{
	width: 100%;
	padding: 0.8em 0.4em;
	margin: 0.6em 0;
	border: 2px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	font-size: medium;
}
  
#loginBox button {
	background-color: #336ef0;
	color: white;
	padding: 14px 50px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	font-size: medium;
}
  
button:hover {
	opacity: 0.8;
}

/* REGISTER TEST */

#register{
	display: flex;
	justify-content: center;
	align-content: center;
}

#registerBox {
	padding: 2.5em;
	width: 60%;
	min-width: 320px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border:  2px solid  #336ef0;
	box-shadow: 5px 8px #6693f5;
	margin: 0.7em;
}

#registrati{
	text-align: center;
	padding-bottom: 1em;
}

#registerBox ul{
	color: red;
	padding-bottom: 1em;
}

#registerDone h2{
	text-align: center;
	margin: 2em;
}

#REmail, #RUsername, #RName, #RSurname, #RCity, #RPassword, #RPasswordRepeat {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
  }

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #336ef0;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


/* test recensioni */

#comments_intro h2{
	text-align: center;
	padding: 1.5em;
}

#comments_holder{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 1em;
}

#writeAComment{
	padding: 2em;
	padding-left: 4em;
	padding-right: 4em;
}

#writeAComment ul{
	color: red;
	padding: 1em;
}

#starsQuantity{
	width: 10%;
}

.comment{
  word-wrap: 
  break-word;
}

.commentsHeader{
	display: flex;
	justify-content: space-between;
}

.submitComment{
	background-color: #336ef0;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

#commentBox{
	display: flex;
	resize: none;
	width: 100%;
	min-height: 150px;
}

#writeACommentHidden{
	display: none;
}

.comments{
	flex-direction: row;
	border:  2px solid  #336ef0;
	box-shadow: 5px 8px #6693f5;
	margin: 0.7em;
	min-width: 300px;
	padding: 0.8em;
  	width: 70%;
}
.comment{
	padding-left: 1em;
}

.commentsHeader{
	display: flex;
	justify-content: end;
}

.userDetails{
	display: flex;
	align-items: center;
}

.commentDate{
	font-size: 14px;
	padding-bottom: 1em;
}

.userDetails h3{
	padding-right: 1em;
}

.star {
	background: grey;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	min-height: 25px;
	min-width: 25px;
}

.gold.star {
	background: gold;
}

/* area personale */

#personalArea{
	display: flex;
	justify-content: center;
	align-content: center;
}

#personalAreaBox {
	padding: 2.5em;
	width: 60%;
	min-width: 320px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border:  2px solid  #336ef0;
	box-shadow: 5px 8px #6693f5;
	margin: 0.7em;
}

#modificationDone h2{
	text-align: center;
	margin: 2em;
}

#datiUtente{
	text-align: center;
	padding-bottom: 1em;
}

#personalAreaBox ul{
	color: red;
	padding-bottom: 1em;
}

#PEmail, #PUsername, #PName, #PSurname, #PCity, #PPassword, #POldPassword {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.personalAreabtn {
  background-color: #336ef0;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.personalAreabtn:hover {
  opacity:1;
}

/*screen reader only*/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
  }



