body{
	border: none
}

header{
	background-image: url('images/sfondo.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}


header h1{
	padding: 0.5em;
	font-size: 3em;
	text-align: center;
	color: rgb(255, 253, 253);
}


/* HOME */
#novita{
	display: block;
}

#offerte, #news{
	max-width: 600px;
	min-width: 100px;	
}

#presentazione #imgHome, #curiosita #imgCristallo, #noleggio #imgNoleggio, #scuola #imgMaestri{
	float: none;
	padding: 1em;
	width: 70%;
	margin: 0em;
	text-align: center;
}


/* TARIFFE */ 
#assicurazione{
	padding-bottom: 0.8em;
	font-size: 1.1em;
}

#abbonamenti ul, #skipass ul{
	margin-left:40px;
	list-style-type: disc;
}

#abbonamenti ul li, #skipass ul li{
	padding: 0.3em;
}

#listino{
	width: 80%;

}

#listino thead, #listino #table-header, #listino td:empty{
	display:none;
}

#listino tr, #listino th, #listino td {
	display: block;
	padding: 0.5em;
	white-space: normal;
}

#listino th, #listino td{
	border: 2px solid #000;
}

#listino th[data-title]:before, #listino td[data-title]:before {
	content:
	attr(data-title) ":\00A0";
	font-weight: bold;
}

/* MAPPA */
#imgMappa{
	display: block;
	margin: 0.5em auto;
	width: 90%;
}

#mappa-pdf{
	margin-left: 2em;
}

#legenda {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 2em 0;
	font-size: 1.1em;
}

#inner-box-left {
	width: 40%;
	margin-right: 0.5em;
}	

.slope-table, .black-table {
	/*width: 100%;*/
	border-collapse: collapse;
	margin-bottom: 1em;
	border: 2px solid;
	min-width: 150px;
}

.slope-table caption, .black-table caption {
	font-size: 1.4em;
	color: white;
	border: 2px solid;
}

.slope-table th, .slope-table td, .black-table th, .black-table td {
	border: 2px solid;
	padding: 0.4em 0.5em;
}

#blue-table, #blue-table th, #blue-table td {
	border-color: #005ab5;
}

#blue-table caption {
	background-color: #005ab5; /* con testo #fff rapporto 6.7:1*/
	border-color: #005ab5;
}

#red-table, #red-table th, #red-table td {
	border-color: #dc3220;
}

#red-table caption {
	background-color: #dc3220; /* con testo #fff rapporto 4.64:1*/
	border-color: #dc3220;
}

.black-table, .black-table th, .black-table td {
	border-color: #000;
}

.black-table caption {
	background-color: #000; /* con testo #fff rapporto 21:1*/
	border-color: #000;
}

.icone{
	text-align: center;
}


/* FOOTER */
footer{
	background-image: none;
	background-color: #a2ffff;
}

footer .imgValidCode{
	width: 20%;
	background-color: #a2ffff;
}