*{
	box-sizing: border-box;
}

html, body{
	max-width: 600px;
}

body{
	border: none
}

header{
	background-image: url('images/sfondo.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

header h1{
	padding: 0.5em;
	font-size: 3em;
	text-align: center;
	color: rgb(255, 253, 253);
}


/* MENU-hamburger */
.hamburger {
	display: none;
}
.hamburger:before {
	display: block;
	position: relative;
	vertical-align: bottom;
	text-align: right;
	content: "\00a0\2261\00a0";
	font-family: sans-serif;
	font-size: 2.5em;
	background-color: #a2ffff;
}
.menu-toggle {
	display: none;
}

.hamburger {
	display: block;
	}
input[type="checkbox"].menu-toggle + * {
	display: none;
}
input[type="checkbox"].menu-toggle:checked + * {
	display: flex;
}

#menu{
	flex-direction: column;
}

#menu li{
		width: 100%;
}


/* HOME, SERVIZI, EVENTI */
#novita{
	display: block;
}

#offerte, #news{
	max-width: 600px;
	min-width: 100px;	
}

#presentazione #imgHome, #curiosita #imgCristallo, #noleggio #imgNoleggio, #scuola #imgMaestri{
	float: none;
	width: 75%;
	margin: auto;
	margin-left: 12%;
}

@media screen and (max-width: 320px) { /*telefoni in modalità portrait*/
	#presentazione #imgHome, #curiosita #imgCristallo, #noleggio #imgNoleggio, #scuola #imgMaestri{
		width: 95%;
		margin: 0em;
		padding: 0.5em;
	}

	.liste_eventi dd{
		padding-left: 0em;
	}
}


/* TARIFFE, MAPPA */ 
#assicurazione{
	padding-bottom: 0.8em;
	font-size: 1.1em;
}

#abbonamenti ul, #skipass ul{
	margin-left:40px;
	list-style-type: disc;
}

#abbonamenti ul li, #skipass ul li{
	padding: 0.3em;
}

#listino{
	width: 80%;
}

@media screen and (max-width: 480px) {
	#listino{
		width: 90%;
	}
}

#legenda{
	display:block;
	margin: 1.5em;
	font-size: 0.9em;
}

.slope-table, #biglietterie{
	width: 90%;
}

#listino thead, #listino #table-header, #listino td:empty,
#risalita thead, #servizi thead {
	display:none;
}

#listino tr, #listino th, #listino td,
#risalita tr, #risalita th, #risalita td,
#servizi tr, #servizi th, #servizi td{
	display: block;
	padding: 0.5em;
	white-space: normal;
}

#listino th[data-title]:before, #listino td[data-title]:before,
#risalita th[data-title]:before,#risalita td[data-title]:before,
#servizi th[data-title]:before, #servizi td[data-title]:before  
{
	content:
	attr(data-title) ":\00A0";
	font-weight: bold;
}

#servizi th, #risalita th {
	background-color: #a2ffff;
}

#risalita td img, #servizi td img{
	width: 10%;
}

#servizi{
	margin-top: 5em;
} 

.icone{
	text-align: left;
}


/* FOOTER */
footer{
	background-image: none;
	background-color: #a2ffff;
}

footer .imgValidCode{
	width: 20%;
	background-color: #a2ffff;
}
