*{
	padding: auto;
	margin: auto;
}

html, body{
	font-size: 100%;
	font-family: "Helvetica", linear, sans-serif;
	max-width: 1024px;
}

body{
	border: 1px solid #000;
	margin: 0.0em 0.5em 0.0em 0.5em ;
}

header{
	background-image: url('images/sfondo.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

header h1{
	padding: 0.5em;
	font-size: 4em;
	text-align: center;
	color: rgb(255, 253, 253);
}

#breadcrumb{
	font-size: 1.1em;
	padding: 0.5em 0.5em 0.5em 1em;
	border: 4.5px solid #0000ff;
}

#breadcrumb a:link{
	color: #0000ff; /* con fff rapporto 8.59:1*/
}

#breadcrumb a:visited{
	color: #800080; /* con fff rapporto 9.42:1*/
}

#menu{	
	background-color: #a2ffff;
	color: #000; /*con a2ffff rapporto 18.28:1*/
	text-align: center;
	padding: 1em;
}

#menu li{
	display: inline;
	padding: 1em;
	font-size: 1.5em;
}

#menu a:link{
	color: #0000ff; /*con a2ffff rapporto 7.48: 1*/
}

#menu a:visited{
	color: #800080 /*con a2ffff rapporto 8.20:1*/
}


/* HOME */
#offerte h2, #news h2{
	color: #e60000; /*con fff rapporto 4.81:1*/
}

#offerte li, #news li{
	list-style-type: none;
	padding: 0.5em;
	font-size: 1.2em;
}

#offerte{
	float: left;
	width: 45%;
	border:  2px solid  #336ef0; /*con fff rapporto 4.54:1*/
	padding: 1em;
	margin-top: 1em;
	min-height: 12em;
	margin-left:0.5em;
}

#news{
	float: right;
	width: 45%;
	border:  2px solid  #336ef0; /*con fff rapporto 4.54:1*/
	padding: 1em;
	margin-top:1em;
	margin-right:0.5em;
	min-height: 12em;
	text-align: center;
}


/* GENERAL CONTENT */
.content{
	clear: both;
	font-size: 1.1em;
	margin: 0.5em;
	padding: 0.5em;

}

.content h2{
	clear: both;
	text-align: center;
	font-size: 1.7em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;	
}

.content a:link{
	color: #0000ff; /* con fff rapporto 8.59:1*/
}

.content a: visited{
	color: #800080; /* con fff rapporto 9.42:1*/
}

/* HOME content */
#presentazione p, #curiosita p{
	padding: 0.5em;
}

#presentazione .imgHome{
	float: right;
	padding: 1em;
	width: 40%;
	vertical-align: middle; 
}

#strada dt{
	font-size: 1.3em;
	padding: 0.2em 1em 0.0em 1em;
	list-style-type: square;
	color: #008800 /* con fff rapporto 4.64:1*/
}

#strada dd{
	font-size: 1em;
	padding-left: 2.5em;
	padding-bottom: 1em;
}

#curiosita #imgCristallo{
	float: left;
	width: 45%;
	margin: 1em;
}

#curiosita > #primo{
	margin-top: 1.5em;
}

/* TARIFFE */ 
#assicurazione{
	padding-bottom: 0.8em;
	font-size: 1.1em;
}

#abbonamenti ul, #skipass ul{
	margin-left:40px;
	list-style-position: left;
	list-style-type: disc;
}

#abbonamenti ul li, #skipass ul li{
	padding: 0.3em;
}

table{
	border: 3px solid #336ef0;
	table-layout: auto; /*flex*/
	width: 700px;
	margin: auto;
	text-align: center;
	padding: 0.5em 0.0em 1em 0.0em;
	border-spacing: 20px;
	border-collapse:collapse;
}

table caption{
	font-weight: bold;
	font-size: 1.4em;
	padding:0.5em;
}

th,td{
	border: medium solid #336ef0; /* con fff rapporto 4.54:1*/	
	padding: 0.5em;	
}


/* FOOTER */
footer{
	clear: both;
	border-top: 1px solid #000;
	text-align: left;
	font-size: 0.9em;
	padding: 0.5em;
	background-image: url('images/sfondo.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

footer .address{
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

footer .author{
	font-style: italic;
}

footer .imgValidCode{
	width: 7%;
	margin: 0.5em;
}